<!-- Sheet Heaader -->
<header id="{{partId}}" class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
        <input class="name" name="name" type="text" value="{{item.name}}" placeholder="Name" />
        <div class="item__type">{{item.type}}</div>
    </div>
</header>