<!-- Sheet Header -->
<header id="{{partId}}" class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
        <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        <div class="grid grid-cols-4 gap-1">
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.level"}}</label>
                <input type="text" value="{{system.level}}" readonly>
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.xp"}}</label>
                <input type="number" name="system.xp" value="{{system.xp}}" min="0" step="1">
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.hd"}}</label>
                <input type="text" name="system.hd" value="{{system.hd}}">
            </div>
            <div></div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.defence"}}</label>
                <input type="text" value="{{system.defence.value}}/{{numberFormat system.defence.bonus sign=true}}"
                    readonly>
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.dodge"}}</label>
                <input type="text" value="{{system.dodge.value}}/{{numberFormat system.dodge.bonus sign=true}}"
                    readonly>
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.parry"}}</label>
                <input type="text" value="{{system.parry.value}}/{{numberFormat system.parry.bonus sign=true}}"
                    readonly>
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.block"}}</label>
                <input type="text" value="{{system.block.value}}/{{numberFormat system.block.bonus sign=true}}"
                    readonly>
            </div>
        </div>
    </div>
</header>