<!-- Sheet Header -->
<header id="{{partId}}" class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
        <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        <div class="flex flex-row gap-1">
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.level"}}</label>
                <input type="text" value="{{system.level}}" readonly>
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.xp"}}</label>
                <input type="number" name="system.xp" value="{{system.xp}}" min="0" step="1">
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.hd"}}</label>
                <input type="text" name="system.hd" value="{{system.hd}}">
            </div>
            <div class="field">
                <label>{{localize "SPACER.actor.sheet.label.hp"}}</label>
                <input type="number" name="system.hp" value="{{system.hp}}" step="1">
            </div>
        </div>
    </div>
</header>