{{!-- Notes Tab --}}
<section id="{{partId}}" class="tab {{tabs.character.cssClass}}" data-group="primary" data-tab="character">
    <div id="character" class="flex flex-col gap-2">
        {{!-- Attributes --}}
        <div id="attributes">
            {{#each system.attributes as | attribute key |}}
            <div class="field">
                <label>{{localize (concat "SPACER.actor.attribute." key)}}</label>
                <input type="text" value="{{attribute.value}}/{{numberFormat attribute.bonus sign=true}}" readonly>
            </div>
            {{/each}}
        </div>
        {{!-- Traits --}}
        <div id="traits">
            {{#each traits as | trait |}}
            <div class="trait" data-item-id="{{trait._id}}">
                <img src="{{trait.img}}" class="trait__image">
                <div class="trait__details">
                    <label class="trait__name">{{trait.name}}</label>
                    <span class="trait__type">{{localize (concat "SPACER.item.trait." trait.system.type)}}</span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>