<section id="{{partId}}" class="tab {{tabs.item.cssClass}}" data-group="primary" data-tab="item">
    <div id="item">
        {{!-- All Gear --}}
        <div id="field">
            <label>{{localize "SPACER.item.sheet.label.credits"}}</label>
            <input type="number" name="system.credits" value="{{system.credits}}">
        </div>
        <div id="field">
            <label>{{localize "SPACER.item.sheet.label.quality"}}</label>
            <input type="number" name="system.quality" value="{{system.quality}}">
        </div>
        <div id="field">
            <label>{{localize "SPACER.item.sheet.label.slots"}}</label>
            <input type="number" name="system.slots" value="{{system.slots}}">
        </div>
        {{#if (eq item.type "armour")}}
        {{!-- Armour --}}
        {{> (concat SPACER.path "/templates/sheet/item/_armour.hbs")}}
        {{else if (eq item.type "weapon")}}
        {{!-- Weapon --}}
        {{> (concat SPACER.path "/templates/sheet/item/_weapon.hbs")}}
        {{else}}
        <div id="field" class="col-span-2">
            <label>{{localize "SPACER.item.sheet.label.traits"}}</label>
            <multi-select name="system.traits" multiple>
                {{selectOptions SPACER.item.gear.traits selected=system.traits localize=true}}
            </multi-select>
        </div>
        {{/if}}
    </div>
    <div id="notes">
        <label>{{localize "SPACER.item.sheet.label.notes"}}</label>
        <prose-mirror toggled enriched name="system.notes" value="{{system.notes}}">{{{system.notes}}}</prose-mirror>
    </div>
</section>